USE [master]
GO
/****** Object:  Database [QuanLiBanDieuHoa]    Script Date: 10/16/2018 8:37:46 PM ******/
CREATE DATABASE [QuanLiBanDieuHoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiBanDieuHoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLiBanDieuHoa.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLiBanDieuHoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLiBanDieuHoa_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiBanDieuHoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiBanDieuHoa]
GO
/****** Object:  UserDefinedFunction [dbo].[SoNV]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[SoNV](@nam int) returns int
as
begin
     select @nam=count(MaNV) from tNhanVien
	 where year(NgaySinh)=@nam 
	 return @nam
end
GO
/****** Object:  Table [dbo].[tChiTietHBN]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHBN](
	[SoHDN] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_tChiTietHBN] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tChiTietHDB]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHDB](
	[SoHDB] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[GiamGia] [nchar](10) NULL,
 CONSTRAINT [PK_tChiTietHDB] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tCongViec]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCongViec](
	[MaCV] [nchar](10) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
	[MucLuong] [float] NULL,
 CONSTRAINT [PK_tCongViec] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tDMHangHoa]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDMHangHoa](
	[MaHang] [nchar](10) NOT NULL,
	[TenHangHoa] [nvarchar](50) NULL,
	[Loai] [nvarchar](50) NULL,
	[KichThuoc] [nvarchar](50) NULL,
	[CongSuat] [nvarchar](50) NULL,
	[HangSX] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [int] NULL,
	[DonGiaBan] [int] NULL,
	[Anh] [ntext] NULL,
	[ThoiGianBH] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_tDMHangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tHoaDonBan]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonBan](
	[SoHDB] [nchar](10) NOT NULL,
	[MaNV] [nchar](10) NULL,
	[NgayBan] [date] NULL,
	[MaKhach] [nchar](10) NULL,
 CONSTRAINT [PK_tHoaDonBan] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tHoaDonNhap]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonNhap](
	[SoHDN] [nchar](10) NOT NULL,
	[MaNV] [nchar](10) NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [nchar](10) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_tHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tKhachHang]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhachHang](
	[MaKhach] [nchar](10) NOT NULL,
	[TenKhach] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [int] NULL,
 CONSTRAINT [PK_tKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tNhaCungCap]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhaCungCap](
	[MaNCC] [nchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [int] NULL,
 CONSTRAINT [PK_tNhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[DienThoai] [int] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaCV] [nchar](10) NULL,
	[NgayBD] [date] NULL,
 CONSTRAINT [PK_tNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[ChucVu]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[ChucVu](@chucvu nchar(10)) returns table
as
return
      (
	  select MaNV,TenNV,TenCV from tNhanVien,tCongViec
	  where tNhanVien.MaCV=tCongViec.MaCV and tNhanVien.MaCV=@chucvu
	  )
GO
/****** Object:  UserDefinedFunction [dbo].[DSNV]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[DSNV](@nam int) returns table
as
return(
       select MaNV,TenNV from tNhanVien
	   where (year(getdate())-year(NgayBD))=@nam
	   )
GO
/****** Object:  UserDefinedFunction [dbo].[thongtin]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[thongtin](@mahd nchar(10)) returns table
as
return
      (
	  select SoHDB,tCHiTietHDB.MaHang,tCHiTietHDB.SoLuong,DonGiaBan,GiamGia ,((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) as ThanhTien from tCHiTietHDB,tDMHangHoa
	  where tCHiTietHDB.MaHang=tDMHangHoa.MaHang and SoHDB=@mahd
	  )
GO
/****** Object:  View [dbo].[DoanhThu]    Script Date: 10/16/2018 8:37:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[DoanhThu]
as
select
	  SUM(case when month(NgayBan)=1 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang1,
	  SUM(case when month(NgayBan)=2 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang2,
	  SUM(case when month(NgayBan)=3 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang3,
	  SUM(case when month(NgayBan)=4 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang4,
	  SUM(case when month(NgayBan)=05 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang5,
	  SUM(case when month(NgayBan)=6 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang6,
	  SUM(case when month(NgayBan)=7 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang7,
	  SUM(case when month(NgayBan)=8 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang8,
	  SUM(case when month(NgayBan)=9 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang9,
	  SUM(case when month(NgayBan)=10 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang10,
	  SUM(case when month(NgayBan)=11 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang11,
	  SUM(case when month(NgayBan)=12 then ((tCHiTietHDB.SoLuong*DonGiaBan)-(tCHiTietHDB.SoLuong*DonGiaBan*GiamGia)/100) end) as Thang12
from tHoaDonBan,tChiTietHDB,tDMHangHoa
where tHoaDonBan.SoHDB=tChiTietHDB.SoHDB and tChiTietHDB.MaHang=tDMHangHoa.MaHang

GO
INSERT [dbo].[tChiTietHBN] ([SoHDN], [MaHang], [SoLuong], [DonGia]) VALUES (N'HDN01     ', N'H01       ', 20, 3500000)
INSERT [dbo].[tChiTietHBN] ([SoHDN], [MaHang], [SoLuong], [DonGia]) VALUES (N'HDN02     ', N'H03       ', 25, 5000000)
INSERT [dbo].[tChiTietHBN] ([SoHDN], [MaHang], [SoLuong], [DonGia]) VALUES (N'HDN03     ', N'H02       ', 15, 4000000)
INSERT [dbo].[tChiTietHDB] ([SoHDB], [MaHang], [SoLuong], [GiamGia]) VALUES (N'HDB01     ', N'H01       ', 2, N'10        ')
INSERT [dbo].[tChiTietHDB] ([SoHDB], [MaHang], [SoLuong], [GiamGia]) VALUES (N'HDB02     ', N'H02       ', 3, N'20        ')
INSERT [dbo].[tChiTietHDB] ([SoHDB], [MaHang], [SoLuong], [GiamGia]) VALUES (N'HDB03     ', N'H03       ', 4, NULL)
INSERT [dbo].[tCongViec] ([MaCV], [TenCV], [MucLuong]) VALUES (N'CV01      ', N'Quản lý', 150000000)
INSERT [dbo].[tCongViec] ([MaCV], [TenCV], [MucLuong]) VALUES (N'CV02      ', N'Bán hàng', 100000000)
INSERT [dbo].[tCongViec] ([MaCV], [TenCV], [MucLuong]) VALUES (N'CV03      ', N'Chăm sóc khách hàng', 80000000)
INSERT [dbo].[tDMHangHoa] ([MaHang], [TenHangHoa], [Loai], [KichThuoc], [CongSuat], [HangSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [ThoiGianBH], [GhiChu]) VALUES (N'H01       ', N'Điều hòa treo tường Panasonic CU/CS-L9SKH-8', N'Panasonic 1 chiều', N'87 x 29 x 20.4 cm', N'9000 BTU', N'Panasonic', 20, 3500000, 5500000, N'Anh1.jpg', N'2 năm', N'Điều hòa mát lạnh, tiết kiệm điện ')
INSERT [dbo].[tDMHangHoa] ([MaHang], [TenHangHoa], [Loai], [KichThuoc], [CongSuat], [HangSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [ThoiGianBH], [GhiChu]) VALUES (N'H02       ', N'Điều hòa Panasonic 1 chiều Inverter CU/CS-U18TKH-8', N'Panasonic 1 chiều', N'81 x 25 x 19.8 cm', N'12000 BTU', N'Panasonic', 30, 4000000, 6500000, N'anh5.jpg', N'2 năm', N'Điều hòa 1 chiều tiết kiệm điện,mát dịu')
INSERT [dbo].[tDMHangHoa] ([MaHang], [TenHangHoa], [Loai], [KichThuoc], [CongSuat], [HangSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [ThoiGianBH], [GhiChu]) VALUES (N'H03       ', N'Điều hòa Panasonic 2 chiều Inverter CU/CS-E9RKH-8', N'Panasonic 2 chiều', N'85 x 27 x 20,3 cm', N'18000 BTU', N'Panasonic', 50, 5000000, 7500000, N'anh5.jpg', N'3 năm', N'Điều hòa 2 chiều tiện lợi')
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach]) VALUES (N'HDB01     ', N'NV01      ', CAST(N'2018-09-19' AS Date), N'KH01      ')
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach]) VALUES (N'HDB02     ', N'NV05      ', CAST(N'2018-04-02' AS Date), N'KH14      ')
INSERT [dbo].[tHoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach]) VALUES (N'HDB03     ', N'NV05      ', CAST(N'2018-09-20' AS Date), N'KH15      ')
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN01     ', N'NV01      ', CAST(N'2018-01-12' AS Date), N'NCC01     ', 70000000)
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN02     ', N'NV01      ', CAST(N'2018-03-12' AS Date), N'NCC02     ', 125000000)
INSERT [dbo].[tHoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN03     ', N'NV01      ', CAST(N'2018-03-12' AS Date), N'NCC01     ', 60000000)
INSERT [dbo].[tKhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH01      ', N'Nguyễn Thị Ngọc', N'Ninh Giang  - Hải Dương', 976123456)
INSERT [dbo].[tKhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH02      ', N'Nguyễn Minh Tuấn', N'Quỳnh Phụ - Thái Bình', 315458845)
INSERT [dbo].[tKhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH03      ', N'Chu Đặng Mỹ Linh', N'Mỗ Lao - Hà Đông - Hà Nội', 25996525)
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC01     ', N'CTy TNHH Điện Máy Thiên Phú', N'41 Hoàng Diệu, phường 12, quận 4, TPHCM', 1215454545)
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC02     ', N'CTy TNHH Thiết bị và Phụ Tùng bách Khoa', N'790 Sư Vạn Hạnh,phường 12,quận 10,TPHCM', 234567890)
INSERT [dbo].[tNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC03     ', N'CTy TNHH Dịch Vụ Thương Mại Điện Máy Thành Đạt', N'1276 Quang Trung,phường 14,quận Vò Vấp,TPHCM', 987654322)
INSERT [dbo].[tNhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV], [NgayBD]) VALUES (N'NV01      ', N'Trần Thị Nhẫn', 1, CAST(N'1998-02-04' AS Date), 954321567, N'Quỳnh Phụ - Thái Bình', N'CV02      ', CAST(N'1995-11-02' AS Date))
INSERT [dbo].[tNhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV], [NgayBD]) VALUES (N'NV02      ', N'Phạm Thị Thùy Linh', 1, CAST(N'1998-06-30' AS Date), 123456788, N'Gia Viễn - Ninh Bình', N'CV03      ', CAST(N'1995-12-10' AS Date))
INSERT [dbo].[tNhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV], [NgayBD]) VALUES (N'NV03      ', N'Trần Thị Ngọc', 1, CAST(N'1998-09-27' AS Date), 456789000, N'Quất Lam - Nam Định', N'CV03      ', CAST(N'1995-09-23' AS Date))
ALTER TABLE [dbo].[tChiTietHBN]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHBN_tDMHangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[tDMHangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[tChiTietHBN] CHECK CONSTRAINT [FK_tChiTietHBN_tDMHangHoa]
GO
ALTER TABLE [dbo].[tChiTietHBN]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHBN_tHoaDonNhap] FOREIGN KEY([SoHDN])
REFERENCES [dbo].[tHoaDonNhap] ([SoHDN])
GO
ALTER TABLE [dbo].[tChiTietHBN] CHECK CONSTRAINT [FK_tChiTietHBN_tHoaDonNhap]
GO
ALTER TABLE [dbo].[tChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHDB_tDMHangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[tDMHangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[tChiTietHDB] CHECK CONSTRAINT [FK_tChiTietHDB_tDMHangHoa]
GO
ALTER TABLE [dbo].[tChiTietHDB]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHDB_tHoaDonBan] FOREIGN KEY([SoHDB])
REFERENCES [dbo].[tHoaDonBan] ([SoHDB])
GO
ALTER TABLE [dbo].[tChiTietHDB] CHECK CONSTRAINT [FK_tChiTietHDB_tHoaDonBan]
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonBan_tKhachHang] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[tKhachHang] ([MaKhach])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_tHoaDonBan_tKhachHang]
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonBan_tNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_tHoaDonBan_tNhanVien]
GO
ALTER TABLE [dbo].[tHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonNhap_tNhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tNhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[tHoaDonNhap] CHECK CONSTRAINT [FK_tHoaDonNhap_tNhaCungCap]
GO
ALTER TABLE [dbo].[tHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonNhap_tNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tHoaDonNhap] CHECK CONSTRAINT [FK_tHoaDonNhap_tNhanVien]
GO
ALTER TABLE [dbo].[tHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonNhap_tNhanVien1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tHoaDonNhap] CHECK CONSTRAINT [FK_tHoaDonNhap_tNhanVien1]
GO
ALTER TABLE [dbo].[tNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tNhanVien_tCongViec] FOREIGN KEY([MaCV])
REFERENCES [dbo].[tCongViec] ([MaCV])
GO
ALTER TABLE [dbo].[tNhanVien] CHECK CONSTRAINT [FK_tNhanVien_tCongViec]
GO
USE [master]
GO
