create database BT5
USE [BT5]
GO
/****** Object:  Table [dbo].[BangDiemHS]    Script Date: 18/09/2018 7:39:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiemHS](
	[MAHS] [nvarchar](5) NULL,
	[Hoten] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[TenTruong] [nvarchar](150) NULL,
	[TD] [float] NULL,
	[Toan] [float] NULL,
	[Van] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACH]    Script Date: 18/09/2018 7:39:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACH](
	[MAHS] [nvarchar](5) NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[PHAI] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[MATRUONG] [nvarchar](4) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 18/09/2018 7:39:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [nvarchar](5) NULL,
	[MON] [nvarchar](10) NULL,
	[DIEM] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRUONG]    Script Date: 18/09/2018 7:39:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONG](
	[MATRUONG] [nvarchar](4) NULL,
	[TENTRUONG] [nvarchar](40) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[DANHSACH] ([MAHS], [HO], [TEN], [PHAI], [NGAYSINH], [MATRUONG]) VALUES (N'0001', N'Nguyen Viet', N'Hong', 0, CAST(N'1983-04-04T00:00:00.000' AS DateTime), N'LHP')
INSERT [dbo].[DANHSACH] ([MAHS], [HO], [TEN], [PHAI], [NGAYSINH], [MATRUONG]) VALUES (N'0002', N'Tran Van', N'Minh', 0, CAST(N'1984-04-17T00:00:00.000' AS DateTime), N'LHP')
INSERT [dbo].[DANHSACH] ([MAHS], [HO], [TEN], [PHAI], [NGAYSINH], [MATRUONG]) VALUES (N'0008', N'Tran Thanh', N'Phong', 0, CAST(N'1983-03-21T00:00:00.000' AS DateTime), N'LHP')
GO
INSERT [dbo].[DIEM] ([MAHS], [MON], [DIEM]) VALUES (N'0001', N'Toan', 8.5)
INSERT [dbo].[DIEM] ([MAHS], [MON], [DIEM]) VALUES (N'0001', N'Van', 6)
INSERT [dbo].[DIEM] ([MAHS], [MON], [DIEM]) VALUES (N'0002', N'Toan', 9)
GO
INSERT [dbo].[TRUONG] ([MATRUONG], [TENTRUONG]) VALUES (N'BTX', N'Truong PTTH Bui Thi Xuan')
INSERT [dbo].[TRUONG] ([MATRUONG], [TENTRUONG]) VALUES (N'LHP', N'Truong PTTH Chuyen Le Hong Phong')
INSERT [dbo].[TRUONG] ([MATRUONG], [TENTRUONG]) VALUES (N'LQD', N'Truong PTTH Le Quy Don')
